<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hengsir.icma.dao.mapper.ImageMapper">

    <resultMap id="imageResult" type="org.hengsir.icma.entity.Image">
        <id property="imageId" column="IMAGE_ID"></id>
        <result property="imageName" column="IMAGE_NAME"></result>
        <result property="imageCode" column="IMAGE_CODE"></result>
        <result property="imageUrl" column="IMAGE_URL"></result>
        <result property="personId" column="PERSON_ID"></result>
        <result property="faceId" column="FACE_ID" />
        <result property="imagePath" column="IMAGE_PATH" />
    </resultMap>

    <insert id="addImg" parameterType="org.hengsir.icma.entity.Image">
        INSERT INTO T_IMAGE(IMAGE_NAME,
        <if test="null != imageUrl and '' != imageUrl">
            IMAGE_URL,
        </if>
        <if test="null != imageCode and '' != imageCode">
            IMAGE_CODE,
        </if>
        FACE_ID,PERSON_ID,IMAGE_PATH)
        VALUES(#{imageName},
        <if test="null != imageUrl and '' != imageUrl">
            #{imageUrl},
        </if>
        <if test="null != imageCode and '' != imageCode">
            #{imageCode},
        </if>
        #{faceId},#{personId},#{imagePath})
    </insert>

    <delete id="deleteImg" parameterType="java.lang.String">
        DELETE FROM T_IMAGE WHERE FACE_ID = #{faceId}
    </delete>

    <select id="findAll" resultMap="imageResult" useCache="false">
        SELECT * FROM T_IMAGE
        <where>
            <if test="null != imageId and '' != imageId">
                AND IMAGE_ID = #{imageId}
            </if>
            <if test="null != imageName and '' != imageName">
                AND IMAGE_NAME = #{imageName}
            </if>
            <if test="null != imageCode and '' != imageCode">
                AND IMAGE_CODE = #{imageCode}
            </if>
            <if test="null != imageUrl and '' != imageUrl">
                AND IMAGE_URL = #{imageUrl}
            </if>

        </where>
        ORDER BY IMAGE_ID ASC
    </select>

    <select id="findById" parameterType="java.lang.Integer" resultMap="imageResult" useCache="false">
        SELECT * FROM T_IMAGE
        WHERE IMAGE_ID = #{imageId}
    </select>

    <select id="findByFaceId" parameterType="java.lang.String" resultMap="imageResult" useCache="false">
        SELECT * FROM T_IMAGE
        WHERE FACE_ID = #{faceId}
    </select>

    <select id="findByPerson" parameterType="org.hengsir.icma.entity.Person" resultMap="imageResult" useCache="false">
        SELECT * FROM T_IMAGE
        WHERE PERSON_ID = #{personId}
    </select>

    <select id="find" parameterType="org.hengsir.icma.entity.Image" useCache="false" resultMap="imageResult">
        SELECT * FROM T_IMAGE
        WHERE PERSON_ID = #{personId} AND FACE_ID = #{faceId}
    </select>

    <delete id="deleteImagesByPersonId" parameterType="java.lang.String">
        DELETE FROM T_IMAGE WHERE PERSON_ID = #{personId}
    </delete>

</mapper>