<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hengsir.icma.dao.mapper.LeftMenuMapper">
    <resultMap id="LeftMenuResult" type="org.hengsir.icma.entity.LeftMenu">
        <result property="menuId" column="MENU_ID"/>
        <result property="menuIcon" column="MENU_ICON"/>
        <result property="menuCode" column="MENU_CODE"/>
        <result property="menuName" column="MENU_NAME"/>
        <result property="menuHref" column="MENU_HREF"/>
        <result property="menuSuperCode" column="SUPER_CODE"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateBy" column="UPDATE_BY"/>
        <result property="updateTime" column="UPDATE_TIME"/>
    </resultMap>

    <insert id="create" parameterType="org.hengsir.icma.entity.LeftMenu">
        INSERT INTO T_MENU (MENU_ICON, MENU_CODE, MENU_NAME,
        <if test="null != menuHref and '' != menuHref">
            MENU_HREF,
        </if>
        <if test="null != menuSuperCode and '' != menuSuperCode">
            SUPER_CODE,
        </if>
        CREATE_TIME)
        VALUES ( #{menuIcon},
        #{menuCode}, #{menuName},
        <if test="null != menuHref and '' != menuHref">
            #{menuHref},
        </if>
        <if test="null != menuSuperCode and '' != menuSuperCode">
            #{menuSuperCode},
        </if>
        #{createTime, jdbcType=TIMESTAMP})
    </insert>

    <select id="findAll" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU ORDER BY MENU_ID
    </select>

    <select id="findAllLoseHome" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_CODE != 'home' ORDER BY MENU_ID
    </select>

    <select id="findMenuByName" resultMap="LeftMenuResult" useCache="false" parameterType="java.lang.String">
        SELECT * FROM T_MENU WHERE MENU_NAME = #{menuName}
    </select>

    <select id="findLeftMenus" resultMap="LeftMenuResult" parameterType="java.lang.Integer">
        SELECT DISTINCT b.* FROM T_RIGHT a,T_MENU b,T_ROLE_RIGHT_RELATION c WHERE a.MENU_ID=b.MENU_ID AND
        a.RIGHT_ID=c.RIGHT_ID AND c.ROLE_ID in (
        <foreach collection="array" item="roleIds" index="index" separator=",">
            #{roleIds}
        </foreach>
        ) ORDER BY b.MENU_ID
    </select>

    <update id="update" parameterType="org.hengsir.icma.entity.LeftMenu">
        UPDATE T_MENU
        <set>
            MENU_ICON=#{menuIcon},
            MENU_CODE=#{menuCode},
            MENU_NAME=#{menuName},
            MENU_HREF=#{menuHref},
            SUPER_CODE=#{menuSuperCode},
            UPDATE_BY=#{updateBy},
            UPDATE_TIME=#{updateTime, jdbcType=TIMESTAMP}
        </set>
        WHERE MENU_ID = #{menuId}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE
        FROM T_MENU
        WHERE MENU_ID = #{menuId}
    </delete>

    <select id="findLeftMenusBy" parameterType="org.hengsir.icma.entity.LeftMenu" resultMap="LeftMenuResult"
            useCache="false">
        SELECT M.* FROM T_MENU M
        <where>
            <if test="null != menuName and '' != menuName">
                AND MENU_NAME LIKE CONCAT(CONCAT('%', #{menuName}),'%')
            </if>
            <if test="null != menuCode and '' != menuCode">
                AND MENU_CODE LIKE CONCAT(CONCAT('%', #{menuCode}),'%')
            </if>
            <if test="null != menuSuperCode and '' != menuSuperCode">
                AND SUPER_CODE = #{menuSuperCode} OR MENU_CODE = #{menuSuperCode}
            </if>
        </where>
    </select>

    <select id="findFatherMenu" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_HREF IS NULL OR MENU_HREF = ''
    </select>

    <select id="findLeftMenuById" parameterType="java.lang.Integer" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_ID=#{menuId}
    </select>

    <select id="findSonMenus" parameterType="java.lang.String" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE SUPER_CODE=#{menuSuperCode}
    </select>

    <select id="findLeftMenuBySuperCode" parameterType="java.lang.String" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_CODE=#{menuCode}
    </select>

    <select id="findAllSonMenus" resultMap="LeftMenuResult" useCache="false">
        SELECT * FROM T_MENU WHERE MENU_HREF IS NOT NULL
    </select>

    <select id="findMenuByCodeExit" resultMap="LeftMenuResult" useCache="false" parameterType="java.lang.String">
        SELECT * FROM T_MENU WHERE MENU_CODE = #{menuCode}
    </select>

</mapper>