<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hengsir.icma.dao.mapper.SXCMapper">

    <resultMap id="schoolResult" type="org.hengsir.icma.entity.School">
        <result property="id" column="ID"/>
        <result property="schoolName" column="SCHOOL_NAME"/>
        <result property="schoolCode" column="SCHOOL_CODE"/>
    </resultMap>

    <resultMap id="xiBieResult" type="org.hengsir.icma.entity.XiBie">
        <result property="id" column="ID"/>
        <result property="xiBieName" column="XI_BIE_NAME"/>
        <result property="schoolId" column="SCHOOL_ID"/>
        <association property="school" javaType="org.hengsir.icma.entity.School">
            <result property="id" column="SCHOOL_ID"/>
            <result property="schoolName" column="SCHOOL_NAME"/>
            <result property="schoolCode" column="SCHOOL_CODE"/>
        </association>
    </resultMap>

    <resultMap id="classResult" type="org.hengsir.icma.entity.Class">
        <result property="id" column="ID"/>
        <result property="className" column="CLASS_NAME"/>
        <result property="xiBieId" column="XI_BIE_ID"/>
        <association property="xiBie" javaType="org.hengsir.icma.entity.XiBie">
            <result property="id" column="XI_BIE_ID"/>
            <result property="xiBieName" column="XI_BIE_NAME"/>
            <result property="schoolId" column="SCHOOL_ID"/>
            <association property="school" javaType="org.hengsir.icma.entity.School">
                <result property="schoolName" column="SCHOOL_NAME"/>
                <result property="schoolCode" column="SCHOOL_CODE"/>
            </association>
        </association>
    </resultMap>

    <insert id="createSchool" parameterType="org.hengsir.icma.entity.School">
        INSERT INTO T_SCHOOL
        (SCHOOL_NAME,SCHOOL_CODE)
        VALUES
        (#{schoolName},#{schoolCode})
    </insert>

    <insert id="createXiBie" parameterType="org.hengsir.icma.entity.XiBie">
        INSERT INTO T_XI_BIE
        (XI_BIE_NAME,SCHOOL_ID)
        VALUES
        (#{xiBieName},#{schoolId})
    </insert>

    <insert id="createClass" parameterType="org.hengsir.icma.entity.Class">
        INSERT INTO T_CLASS
        (CLASS_NAME,XI_BIE_ID)
        VALUES
        (#{className},#{xiBieId})
    </insert>

    <update id="updateSchool" parameterType="org.hengsir.icma.entity.School">
        UPDATE T_SCHOOL
        SET SCHOOL_NAME = #{schoolName}
        WHERE ID = #{id}

    </update>

    <update id="updateXiBie" parameterType="org.hengsir.icma.entity.XiBie">
        UPDATE T_XI_BIE
        <set>
            <if test="null != #{xiBieName}">
                XI_BIE_NAME = #{xiBieName},
            </if>
            <if test="null != #{schoolId}">
                SCHOOL_ID = #{schoolId},
            </if>
        </set>
        WHERE ID = #{id}

    </update>

    <update id="updateClass" parameterType="org.hengsir.icma.entity.Class">
        UPDATE T_CLASS
        SET CLASS_NAME = #{className},
            XI_BIE_ID = #{xiBieId}
        WHERE ID = #{id}

    </update>

    <delete id="deleteSchool" parameterType="java.lang.Integer">
        DELETE FROM T_SCHOOL WHERE ID = #{schoolId}
    </delete>

    <delete id="deleteXiBie" parameterType="java.lang.Integer">
        DELETE FROM T_XI_BIE WHERE ID = #{xiBieId}
    </delete>

    <delete id="deleteClass" parameterType="java.lang.Integer">
        DELETE FROM T_CLASS WHERE ID = #{classId}
    </delete>

    <select id="findSchool" resultMap="schoolResult" parameterType="org.hengsir.icma.entity.School" useCache="false">
        SELECT * FROM T_SCHOOL
        <where>
            <if test="null != schoolName and '' != schoolName">
                AND SCHOOL_NAME LIKE CONCAT(CONCAT('%', #{schoolName}),'%')
            </if>
            <if test="null != schoolCode and '' != schoolCode">
                AND SCHOOL_CODE = #{schoolCode}
            </if>
        </where>
        ORDER BY SCHOOL_CODE
    </select>

    <select id="findXiBie" resultMap="xiBieResult" parameterType="org.hengsir.icma.entity.XiBie" useCache="false">
        SELECT X.*,S.SCHOOL_NAME,S.SCHOOL_CODE FROM T_XI_BIE X,T_SCHOOL S
        <where>
            AND X.SCHOOL_ID = S.ID
            <if test="null != xiBieName and '' != xiBieName">
                AND XI_BIE_NAME LIKE CONCAT(CONCAT('%', #{xiBieName}),'%')
            </if>
            <if test="null != schoolId and 0 != schoolId">
                AND X.SCHOOL_ID = #{schoolId}
            </if>
            <if test="null != schoolName and '' != schoolName">
                AND S.SCHOOL_NAME LIKE CONCAT(CONCAT('%', #{schoolName}),'%')
            </if>
            <if test="null != schoolCode and '' != schoolCode">
                AND S.SCHOOL_CODE = #{schoolCode}
            </if>
        </where>
        ORDER BY X.ID
    </select>

    <select id="findClass" resultMap="classResult" parameterType="org.hengsir.icma.entity.Class" useCache="false">
        SELECT C.*,X.XI_BIE_NAME,X.SCHOOL_ID,S.SCHOOL_NAME,S.SCHOOL_CODE FROM T_CLASS C,T_XI_BIE X,T_SCHOOL S
        <where>
            AND C.XI_BIE_ID = X.ID
            AND X.SCHOOL_ID = S.ID
            <if test="null != className and '' != className">
                AND CLASS_NAME LIKE CONCAT(CONCAT('%', #{className}),'%')
            </if>
            <if test="null != xiBieId and 0 != xiBieId">
                AND C.XI_BIE_ID = #{xiBieId}
            </if>
            <if test="null != xiBieName and '' != xiBieName">
                AND X.XI_BIE_NAME LIKE CONCAT(CONCAT('%', #{xiBieName}),'%')
            </if>
            <if test="null != schoolId and 0 != schoolId">
                AND S.ID = #{schoolId}
            </if>
            <if test="null != schoolName and '' != schoolName">
                AND S.SCHOOL_NAME LIKE CONCAT(CONCAT('%', #{schoolName}),'%')
            </if>
            <if test="null != schoolCode and '' != schoolCode">
                AND S.SCHOOL_CODE = #{schoolCode}
            </if>
        </where>
        ORDER BY C.ID
    </select>

    <select id="findAllSchool" useCache="false" resultMap="schoolResult">
        SELECT * FROM T_SCHOOL ORDER BY SCHOOL_CODE
    </select>

    <select id="findAllXiBie" useCache="false" resultMap="xiBieResult">
        SELECT X.*,S.SCHOOL_NAME,S.SCHOOL_CODE FROM T_XI_BIE X,T_SCHOOL S
        WHERE
        X.SCHOOL_ID = S.ID
        ORDER BY X.ID
    </select>

    <select id="findAllClass" useCache="false" resultMap="classResult">
        SELECT C.*,X.XI_BIE_NAME,X.SCHOOL_ID,S.SCHOOL_NAME,S.SCHOOL_CODE FROM T_CLASS C,T_XI_BIE X,T_SCHOOL S
        WHERE
        AND C.XI_BIE_ID = X.ID
        AND X.SCHOOL_ID = S.ID
        ORDER BY C.ID
    </select>

    <select id="findSchoolById" useCache="false" parameterType="java.lang.Integer" resultMap="schoolResult">
        SELECT * FROM T_SCHOOL WHERE ID = #{id}
    </select>

    <select id="findClassById" useCache="false" resultMap="classResult" parameterType="java.lang.Integer">
        SELECT C.*,X.XI_BIE_NAME,X.SCHOOL_ID,S.SCHOOL_NAME,S.SCHOOL_CODE FROM T_CLASS C,T_XI_BIE X,T_SCHOOL S
        WHERE
        C.XI_BIE_ID = X.ID
        AND X.SCHOOL_ID = S.ID
        AND C.ID = #{id}
    </select>

    <select id="findXiBieById" useCache="false" parameterType="java.lang.Integer" resultMap="xiBieResult">
        SELECT X.*,S.SCHOOL_NAME,S.SCHOOL_CODE FROM T_XI_BIE X,T_SCHOOL S
        WHERE
        X.SCHOOL_ID = S.ID
        AND X.ID = #{id}
    </select>

    <select id="findByIds" useCache="false" resultMap="classResult" parameterType="java.util.List">
        SELECT C.*,X.XI_BIE_NAME,X.SCHOOL_ID,S.SCHOOL_NAME,S.SCHOOL_CODE FROM T_CLASS C,T_XI_BIE X,T_SCHOOL S
        WHERE
        C.XI_BIE_ID = X.ID
        AND X.SCHOOL_ID = S.ID
        AND C.ID in
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </select>

</mapper>