<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hengsir.icma.dao.mapper.UserMapper">

    <!--user对象-->
    <resultMap id="userMap" type="org.hengsir.icma.entity.User">
        <result property="userId" column="USER_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="userAccount" column="USER_ACCOUNT"/>
        <result property="userPassword" column="USER_PASSWORD"/>
        <result property="personId" column="PERSON_ID"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="userStatus" column="USER_STATUS"/>
        <result property="userSex" column="USER_SEX"/>
        <result property="userIdCard" column="USER_IDCARD"/>
        <result property="classId" column="CLASS_ID"/>
        <result property="schoolId" column="SCHOOL_ID"/>
        <result property="xiBieId" column="XI_BIE_ID"/>
        <association property="school" javaType="org.hengsir.icma.entity.School">
            <result property="id" column="SCHOOL_ID"/>
            <result property="schoolName" column="SCHOOL_NAME"/>
            <result property="schoolCode" column="SCHOOL_CODE"/>
        </association>
        <association property="theClass" javaType="org.hengsir.icma.entity.Class">
            <result property="id" column="CLASS_ID"/>
            <result property="className" column="CLASS_NAME"/>
            <result property="xiBieId" column="XI_BIE_ID"/>
        </association>
        <association property="xiBie" javaType="org.hengsir.icma.entity.XiBie">
            <result property="id" column="XI_BIE_ID"/>
            <result property="xiBieName" column="XI_BIE_NAME"/>
            <result property="schoolId" column="SCHOOL_ID"/>
        </association>
    </resultMap>

    <!--根据帐号查询用户-->
    <select id="findUserByAccount" parameterType="java.lang.String" resultMap="userMap">
        SELECT A.* FROM T_USER A
        WHERE
        USER_ACCOUNT = #{userAccount}
    </select>

    <!--根据id查询用户-->
    <select id="findUserById" parameterType="java.lang.Integer" resultMap="userMap">

    </select>

    <select id="findAllUser" resultMap="userMap" useCache="false">
        SELECT A.* FROM T_USER A
        ORDER BY CREATE_TIME DESC
    </select>

    <select id="findByUser" resultMap="userMap" useCache="false">
        SELECT A.*,C.CLASS_NAME ,X.XI_BIE_NAME,X.ID AS XI_BIE_ID , S.SCHOOL_NAME,S.ID AS SCHOOL_ID,S.SCHOOL_CODE FROM T_USER A,T_CLASS C,T_XI_BIE X,T_SCHOOL S
        <where>
            AND C.ID = A.CLASS_ID
            AND X.ID = C.XI_BIE_ID
            AND S.ID = X.SCHOOL_ID
            <if test="null != classId and 0 != classId">
                AND A.CLASS_ID = #{classId}
            </if>
            <if test="null != xiBieId and 0 != xiBieId">

                AND C.XI_BIE_ID = #{xiBieId}
            </if>
            <if test="null != schoolId and 0 != schoolId">

                AND X.SCHOOL_ID = #{schoolId}
            </if>
            <if test="null != userName and '' != userName">
                AND A.USER_NAME LIKE CONCAT(CONCAT('%', #{userName}),'%')
            </if>
            <if test="null != userAccount and '' != userAccount">
                AND A.USER_ACCOUNT LIKE CONCAT(CONCAT('%', #{userAccount}),'%')
            </if>
            <if test="null != schoolName and '' != schoolName">
                AND S.SCHOOL_NAME LIKE CONCAT(CONCAT('%', #{schoolName}),'%')
            </if>
            <if test="null != xiBieName and '' != xiBieName">
                AND X.XI_BIE_NAME LIKE CONCAT(CONCAT('%', #{xiBieName}),'%')
            </if>
            <if test="null != className and '' != className">
                AND C.CLASS_NAME LIKE CONCAT(CONCAT('%', #{className}),'%')
            </if>
            <if test="null != userSex and '' != userSex">
                AND A.USER_SEX = #{userSex}
            </if>
            <if test="null != userStatus and '' != userStatus">
                AND A.USER_STATUS = #{userStatus}
            </if>
        </where>
        ORDER BY A.CREATE_TIME DESC,A.USER_ID DESC
    </select>

    <insert id="create" parameterType="org.hengsir.icma.entity.User">
        INSERT INTO T_USER(USER_NAME,USER_ACCOUNT,USER_PASSWORD,

        <if test="null != personId and '' != personId">
            PERSON_ID,
        </if>
        <if test="null != userStatus and '' != userStatus">
            USER_STATUS,
        </if>
        <if test="null != classId and 0 != classId">
            CLASS_ID,
        </if>
        CREATE_TIME,
        <if test="null != updateTime and '' != updateTime">
            UPDATE_TIME,
        </if>
        USER_SEX) VALUES(#{userName},
        #{userAccount},#{userPassword},
        <if test="null != personId and '' != personId">
            #{personId},
        </if>
        <if test="null != userStatus and '' != userStatus">
            #{userStatus},
        </if>

        <if test="null != classId and 0 != classId">
            #{class},
        </if>
        #{createTime,jdbcType=TIMESTAMP},
        <if test="null != updateTime and '' != updateTime">
            #{updateTime,jdbcType=TIMESTAMP},
        </if>
        #{userSex})
    </insert>

    <update id="update" parameterType="org.hengsir.icma.entity.User">
        UPDATE T_USER
        <set>
            <if test="null != userName">
                USER_NAME = #{userName},
            </if>
            <if test="null != userAccount">
                USER_ACCOUNT = #{userAccount},
            </if>
            <if test="null != userPassword">
                USER_PASSWORD = #{userPassword},
            </if>
            <if test="null != personId and '' != personId">
                PERSON_ID = #{personId},
            </if>
            <if test="null != userStatus">
                USER_STATUS = #{userStatus},
            </if>
            <if test="null != classId and 0 != classId">
                CLASS_ID = #{classId},
            </if>
            <if test="null != userSex">
                USER_SEX = #{userSex},
            </if>

            UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
        </set>
        WHERE USER_ID = #{userId}
    </update>

    <delete id="delete" parameterType="java.lang.Integer">
        DELETE FROM T_USER WHERE USER_ID = #{userId}
    </delete>

</mapper>