<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title th:text="${pageTitle}"></title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <head th:include="/commons/head::header"/>

    <style>
        th{
            width: 100px;
        }
    </style>
</head>
<body class="page-header-fixed">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li><i class='icon-angle-right'></i>
                <a href='javascript:void(0);'>查询</a>
            </li>
            <li class="btn-group">
                <shiro:hasPermission name="xiBie:add">
                    <a href="to-add" class='btn blue '><span>新增</span></a>
                </shiro:hasPermission>
            </li>
        </ul>
        <shiro:hasPermission name="xiBie:search">
            <form th:action="@{search}" method="post" id="xiBieForm">
                <!-- 搜索内容start -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="schoolCode">学校代码</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="schoolCode" name="schoolCode"
                                       th:value="${xiBieVo.schoolCode}" placeholder="请输入学校代码">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="xiBieName">学校名称（%）</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="schoolName" name="schoolName"
                                       th:value="${xiBieVo.schoolName}" placeholder="请输入学校名称"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="xiBieName">系别/院校名称（%）</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="xiBieName" name="xiBieName"
                                       th:value="${xiBieVo.xiBieName}" placeholder="请输入系别名称"/>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-1">
                        <button type="submit" onclick="search()"
                                class="btn blue btn-block btn-sm">查询<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" onclick="cleanQuery()"
                                class="btn blue btn-block btn-sm">重置<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>学校名称</th>
                                <th>系别/院校名称</th>
                                <shiro:hasAnyPermissions name="xiBie:update,xiBie:delete">
                                    <th style="width: 100px;">操作</th>
                                </shiro:hasAnyPermissions>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="xiBie : ${list}">
                                <!--  <input type="hidden" id="menuId" th:value="${leftMenu.id}"/> -->
                                <td th:text="${xiBie.school.schoolName}"></td>
                                <td th:text="${xiBie.xiBieName}"></td>

                                <shiro:hasAnyPermissions name="xiBie:update,xiBie:delete">
                                    <td>
                                        <!--<span class="input-group-btn">-->
                                        <shiro:hasPermission name="xiBie:update">
                                            <a th:href="@{/sxc/xiBie/to-update(id=${xiBie.id})}" class='btn blue btn-xs'>修改</a>
                                        </shiro:hasPermission>
                                        <shiro:hasPermission name="xiBie:delete">
                                            <a class='btn red btn-xs'
                                               th:onclick="'javascript:deleteXiBie(\''+${xiBie.id}+'\');'">删除</a>
                                        </shiro:hasPermission>
                                        <!--</span>-->
                                    </td>
                                </shiro:hasAnyPermissions>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:utext="${pageHtml}" class="row page_info" data-search="leftMenuForm"></div>
            </form>
        </shiro:hasPermission>
    </div>
</div>
<!-- data-toggle="modal"  -->
<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script type="text/javascript" th:src="@{/js/sxc/xiBie-list.js}" charset="utf-8"></script>

<script>
    jQuery(document).ready(function () {
        App.init();
        $("#superCode").select2({
            formatNoMatches: function(term) {
                return "未找到数据";
            }
        });
    });
</script>
</body>
</html>