<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/common.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/index.css}" type="text/css" rel="stylesheet"/>
</head>
<body class="page-header-fixed" id="viewBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li>
                <i class='icon-angle-rigAht'></i>
                <a href='javascript:void(0);'>详情</a>
            </li>
            <li class="btn-group">
                <shiro:hasPermission name="image:add">
                    <a th:onclick="'javascript:toAddImg(\''+${person.personId}+'\');'" class='btn red'><span>新增人脸</span></a>
                </shiro:hasPermission>

                <a onclick="javascript:history.go(-1)" class='btn blue '><span>返回</span></a>
            </li>
        </ul>
        <form class="form-horizontal" id="viewForm" th:object="${person}">
            <div class="col-md-6">
                <div class="form-group">
                    <label>个体名称：</label>
                    <label th:text="*{user.userName}"></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>帐号：</label>
                    <label th:text="*{user.userAccount}"></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>性别：</label>
                    <label th:text="*{user.userSex}"></label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>班级ID：</label>
                    <label th:text="*{classId}"></label>
                </div>
            </div>


            <div class="col-md-2" th:each="img: ${imgs}">
                <div class="form-group" style="height: 100%">
                    <img th:src="'/person/loadImg?path='+${img.imagePath}" style="width: 100px;height: 133px;box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.3);">
                </div>
                <div class="row form-group">
                    <shiro:hasPermission name="image:delete">
                        <a data-toggle="modal" class='btn red btn-xs'
                           th:onclick="'javascript:deleteImg(\''+${img.faceId}+'\',\''+${person.personId}+'\');'" style="margin-left: 33px;">删除</a>
                    </shiro:hasPermission>
                </div>

            </div>


        </form>
    </div>
</div>
<div th:replace="/commons/scripts::scripts"/>
</div>
<script th:src="@{/js/rights/image-add.js}"></script>
<script th:src="@{/js/imgUp.js}"></script>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
</html>