<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <style>
        th {
            width: 100px;
        }
    </style>
</head>

<body class="page-header-fixed" id="userBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content">
        <ul class="page-breadcrumb breadcrumb">
            <li th:utext="${locationMenu}"></li>
            <li>
                <i class='icon-angle-right'></i>
                <a href='javascript:void(0);'>查询</a>
            </li>
            <li class="btn-group">
                <shiro:hasPermission name="person:add">
                    <a href="to-add-person" class='btn blue '><span>新增</span></a>
                </shiro:hasPermission>
            </li>
        </ul>
        <shiro:hasPermission name="user:search">
            <form th:action="@{search}" method="post" id="personFrom">
                <!-- 搜索内容start -->
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>用户名称（%）</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="userName" name="userName" th:value="${personVo.userName}" placeholder="请输入你要搜索的用户名称"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>用户账号（%）</label>
                            <div class="input-icon right">
                                <i class="icon-edit"></i>
                                <input type="text" class="form-control" id="userAccount" name="userAccount" th:value="${personVo.userAccount}" placeholder="请输入你要搜索的用户账号"/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>用户性别</label>
                            <div class="input-icon">
                                <select name="userSex" id="userSex" class="form-control" data-type="select" data-category="SEX" th:data-value="${personVo.userSex}"></select>
                            </div>
                        </div>
                    </div>

                </div>
                <!--<div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>学校</label>
                            <div class="input-group">
                                <input type="text" id="schoolName" name="schoolName" class="form-control"
                                       placeholder="请选择学校" th:value="${userVo.schoolName}" th:data-value="${userVo.schoolName}" readonly>
                                <input type="hidden" th:value="${userVo.schoolId}" th:data-value="${userVo.schoolId}" id="schoolId" name="schoolId" class="form-control" readonly>
                                <span class="input-group-btn" style="vertical-align:baseline">
                        <button type="button" class="btn btn-default" onclick="clearSchool();">
                             <i class="icon-remove"></i>
                            </button>
                                    <button type="button" class="btn blue btn-default" data-toggle="modal" data-target="#schoolModal" onclick="initSchoolTable()">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>系别/院校</label>
                            <div class="input-group">
                                <input type="text" id="xiBieName" name="xiBieName" class="form-control"
                                       placeholder="请选择系别" th:value="${userVo.xiBieName}" th:data-value="${userVo.xiBieName}" readonly>
                                <input type="hidden" th:value="${userVo.xiBieId}" th:data-value="${userVo.xiBieId}" id="xiBieId" name="xiBieId" class="form-control" readonly>
                                <span class="input-group-btn" style="vertical-align:baseline">
                        <button type="button" class="btn btn-default" onclick="clearXiBie();">
                             <i class="icon-remove"></i>
                            </button>
                                    <button type="button" class="btn blue btn-default" data-toggle="modal" onclick="initXiBieTable()">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>班级</label>
                            <div class="input-group">
                                <input type="text" id="className" name="className" class="form-control"
                                       placeholder="请选择班级" th:data-value="${userVo.className}" th:value="${userVo.className}" readonly>
                                <input type="hidden" id="classId" name="classId" th:value="${userVo.classId}" th:data-value="${userVo.classId}" class="form-control" readonly>
                                <span class="input-group-btn" style="vertical-align:baseline">
                        <button type="button" class="btn btn-default" onclick="clearClass();">
                             <i class="icon-remove"></i>
                            </button>
                                    <button type="button" class="btn blue btn-default" data-toggle="modal" onclick="initClassTable()">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                            </div>
                        </div>
                    </div>
                </div>-->

                <div class="row form-group">
                    <div class="col-md-5"></div>
                    <div class="col-md-1">
                        <button type="submit" onclick="search()"
                                class="btn blue btn-block btn-sm">查询<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" onclick="cleanQuery()"
                                class="btn blue btn-block btn-sm">重置<i class="m-icon-swapright m-icon-white"></i></button>
                    </div>
                    <div class="col-md-5"></div>
                </div>

                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th style="width: 10%">个体名称</th>
                                <th style="width: 10%">用户账号</th>
                                <th style="width: 5%">用户性别</th>
                                <th style="width: 10%">班级</th>
                                <shiro:hasAnyPermissions name="person:delete">
                                    <th style="width: 200px;">操作</th>
                                </shiro:hasAnyPermissions>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="person : ${list}">
                                <td th:text="${person.userName}"></td>
                                <td th:text="${person.userAccount}"></td>
                                <td th:text="${ItemUtil.getName(person.sex,'SEX')}"></td>
                                <td th:text="${person.user.theClass.className}"></td>
                                <shiro:hasAnyPermissions name="user:view,user:delete">
                                    <td>
                                        <shiro:hasPermission name="person:delete">
                                            <a data-toggle="modal" class='btn red btn-xs' th:onclick="'javascript:deletePerson(\''+${user.userId}+'\');'" style="margin-left: 5px;">删除</a>
                                        </shiro:hasPermission>
                                        <shiro:hasPermission name="person:view">
                                            <a data-toggle="modal" class='btn green  btn-xs'
                                               th:onclick="'javascript:view(\''+${person.personId}+'\');'"
                                               style="margin-left: 5px;">详情</a>
                                        </shiro:hasPermission>
                                    </td>
                                </shiro:hasAnyPermissions>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div th:utext="${pageHtml}" class="row page_info" data-search="userFrom"></div>
            </form>
        </shiro:hasPermission>
    </div>
</div>



<!--表格html-->
<!--学校开始-->
<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="schoolModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="schoolModalLabel">学校信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="schoolShowFrom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>学校代码</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="schoolCodeSearch" type="text" class="form-control" placeholder="请输入学校代码">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>学校名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="schoolNameSearch" type="text" class="form-control" placeholder="请输入学校名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertSchoolData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanSchoolQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="schoolTable" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectSchool();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!--学校结束-->

<!--系别开始-->
<div class="modal fade" id="xiBieModal" tabindex="-1" role="dialog" aria-labelledby="xiBieModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="xiBieModalLabel">系别/院系信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="xiBieShowFrom">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>系别名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="xiBieNameSearch" type="text" class="form-control" placeholder="请输入系别名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertXiBieData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanXiBieQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="xiBieTable" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectXiBie();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--系别结束-->

<!--班级开始-->
<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="classModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="classModalLabel">班级信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="classShowFrom">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>班级名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="classNameSearch" type="text" class="form-control" placeholder="请输入班级名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertClassData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanClassQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="classTable" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectClass();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<!--班级结束-->



<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();
        $("#userOrg").select2({
            formatNoMatches: function (term) {
                return "未找到数据";
            }
        })
    });
</script>
<script type="text/javascript" th:src="@{/js/sxc/sxc.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/rights/person-list.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/commons/table-editable/jquery.dataTables.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/table/bootstrap-table.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/table/bootstrap-table-zh-CN.min.js}" charset="utf-8"></script>
</body>
</html>