<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${pageTitle}"></title>
	<head th:include="/commons/head::header" />
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/css/style.min.css}">
</head>
<body class="page-header-fixed" id="userBody">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
	<div th:replace="/commons/page_sidebar::pageSidebar"></div>
	<div class="page-content">
	     <ul class="page-breadcrumb breadcrumb">
	      	<li th:utext="${locationMenu}"></li>
	      	<li>
	      		<i class='icon-angle-right'></i>
	      		<a href='javascript:void(0);'>新增</a>
	      	</li>
	     </ul>
	     <form id="addForm"  class="form-horizontal" role="form" th:action="@{add}"  method="post">

              <div class="form-group" >
                <label class="col-sm-4 control-label">
                    用户名称<font color="#FF0000">*</font>
                </label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="userName" id="userName" value="" placeholder="请输入用户名称"/>
                </div>
              </div>

             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     用户账号<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="text" class="form-control" name="userAccount" id="userAccount" value="" placeholder="请输入用户账号"/>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     用户密码<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="password" class="form-control" name="userPassword" id="userPassword" value="" placeholder="请输入用户密码"/>
                 </div>
             </div>
             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     确认密码<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <input type="password" class="form-control" name="userComfirmPassword" id="userComfirmPassword" value="" placeholder="请输入确认密码"/>
                 </div>
             </div>

             <div class="form-group" >
                 <label class="col-sm-4 control-label">
                     用户性别<font color="#FF0000">*</font>
                 </label>
                 <div class="col-sm-6">
                     <select name="userSex" id="userSex" class="form-control" data-type="select" data-category="USER_SEX" ></select>
                 </div>
             </div>
             <div id="mchDiv">
             <div class="form-group">
                 <label class="col-sm-4 control-label">
                     学校<span style="color:#FF0000">*</span>
                 </label>
                 <div class="col-lg-6">
                     <div class="input-group">
                         <input type="text" id="schoolName" name="schoolName" class="form-control" placeholder="请选择学校" readonly>
                         <input type="hidden" id="schoolId" name="schoolId" class="form-control" readonly>
                         <span class="input-group-btn" style="vertical-align:baseline">
                        <button type="button" class="btn btn-default" onclick="clearSchoolTable();">
                             <i class="icon-remove"></i>
                            </button>
                            <button type="button" class="btn blue btn-default" data-toggle="modal" data-target="#mchInfoModal" onclick="initSchoolTable();">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                     </div>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-sm-4 control-label">
                     系别/院校
                 </label>
                 <div class="col-lg-6">
                     <div class="input-group">
                         <input type="text" id="xiBieName" name="xiBieName" class="form-control" placeholder="请选择系别/院校" readonly>
                         <input type="hidden" id="xiBieId" name="xiBieId" class="form-control" readonly>
                         <span class="input-group-btn" style="vertical-align:baseline">
                            <button type="button" class="btn btn-default" onclick="clearXiBie();">
                             <i class="icon-remove"></i>
                            </button>
                            <button type="button" class="btn blue btn-default" data-toggle="modal" onclick="initXiBieTable();">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                     </div>
                 </div>
             </div>
             <div class="form-group">
                 <label class="col-sm-4 control-label">
                     班级
                 </label>
                 <div class="col-lg-6">
                     <div class="input-group">
                         <input type="text" id="className" name="className" class="form-control" placeholder="请选择班级" readonly>
                         <input type="hidden" id="classId" name="classId" class="form-control" readonly>
                         <span class="input-group-btn" style="vertical-align:baseline">
                            <button type="button" class="btn btn-default" onclick="clearClass();">
                             <i class="icon-remove"></i>
                            </button>
                            <button type="button" class="btn blue btn-default" data-toggle="modal" onclick="initClassTable();">
                             选择 <i class="icon-plus"></i>
                            </button>
					    </span>
                     </div>
                 </div>
             </div>
             </div>
              <div class="form-group">
                <div class="col-sm-offset-4 col-sm-6">
                   <button style="margin-left:50px;" onclick="history.go(-1)" type="button" class="btn  default  btn-info btn-search">取消</button>
                   <button  style="margin-left:30px;"  type="button" class="btn blue   btn-info btn-search"  id="btnSave">提交</button>
                </div>
              </div>
        </form>
	</div>
</div>


<div id="addAlert" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">提示</h4>
            </div>
            <div class="modal-body">
                <p>添加完成</p>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn green" id="btn1">确定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="schoolModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="mchInfoModalLabel">商户信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="mchInfoShowFrom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>商户号</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="midSearch" type="text" class="form-control" placeholder="请输入商户号">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>商户简称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="midShortNameSearch" type="text" class="form-control" placeholder="请输入商户简称">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>商户名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="midNameSearch" type="text" class="form-control" placeholder="请输入商户名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertMchData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanMchInfoQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="mchInfoTable" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectMchInfo();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="xiBieModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="subMchModalLabel">子商户信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="subMchInfoShowFrom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户号</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidSearch" type="text" class="form-control" placeholder="请输入子商户号">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户简称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidShortNameSearch" type="text" class="form-control" placeholder="请输入子商户简称">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidNameSearch" type="text" class="form-control" placeholder="请输入子商户名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertSubMchData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanSubMchInfoQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="item_info_table" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectItem();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="classModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
                <h4 class="modal-title" id="subMchModalLabel">子商户信息</h4>
            </div>
            <div class="modal-body" style="height: auto;max-height: 600px;overflow-y:auto;overflow-x:auto">
                <form method="post" id="subMchInfoShowFrom">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户号</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidSearch" type="text" class="form-control" placeholder="请输入子商户号">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户简称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidShortNameSearch" type="text" class="form-control" placeholder="请输入子商户简称">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>子商户名称（%）</label>
                                <div class="input-icon right">
                                    <i class="icon-edit"></i>
                                    <input id="subMidNameSearch" type="text" class="form-control" placeholder="请输入子商户名称">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-5"></div>
                        <div class="form-inline">
                            <button onclick="refreshAlertSubMchData()" type="button"
                                    class="btn btn-primary">查询
                            </button>
                            <button onclick="cleanSubMchInfoQuery()" type="button"
                                    class="btn btn-primary">重置
                            </button>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
                <table id="item_info_table" class="table table-striped table-bordered table-hover"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="selectItem();">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<div th:replace="/commons/scripts::scripts"/></div>
<div th:replace="/commons/foot::foot"></div>
<script>
    jQuery(document).ready(function () {
        App.init();

    });



</script>
</body>
<script type="text/javascript" th:src="@{/js/rights/user-add.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/rights/mchModal.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/commons/jstree.min.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/commons/form-validate/additional-methods-extend.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/table/bootstrap-table.js}" charset="utf-8"></script>
<script type="text/javascript" th:src="@{/js/table/bootstrap-table-zh-CN.min.js}" charset="utf-8"></script>
</html>