<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title th:text="${pageTitle}"></title>
    <head th:include="/commons/head::header"/>
    <link th:href="@{/metronic/css/pages/error.css}" rel="stylesheet" type="text/css"/>
    <style>
        th {
            width: 100px;;
        }
    </style>
    <style type="text/css">
        * {
            margin: 0px;
            padding: 0px;
        }

        body, button, input, select, textarea {
            font: 12px/16px Verdana, Helvetica, Arial, sans-serif;
        }

        #container {
            min-width: 600px;
            min-height: 760px;
        }
    </style>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&libraries=place"></script>
    <!--用js获取值后，定义全局变量，mch-show.js中可直接使用-->
    <script th:inline="javascript">
        var mchInfos = [[${mchInfos}]];//商户信息列表
    </script>
</head>

<body class="page-header-fixed">
<div th:replace="/commons/page_head::pageHead"></div>
<div class="clearfix"></div>
<div class="page-container">
    <div th:replace="/commons/page_sidebar::pageSidebar"></div>
    <div class="page-content" style="padding:6px 5px 2px 2px">
        <div class="form-group" style="margin-bottom: 5px;">
            <!--<label class="col-sm-1 control-label">搜索:</label>-->
            <div class="col-sm-12">
                <input type="text" id="place" class="form-control"/>
            </div>
        </div>
        <div id="container"></div>
    </div>
</div>
<div th:replace="/commons/scripts::scripts"/>
</div>
<div th:replace="/commons/foot::foot"></div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/map/mch-show.js}" charset="utf-8"></script>
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
</html>